/* @import "bourbon";
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
} */

body {
    font-family: sans-serif;
    margin: 0;
    color: #343a40;
}

.sections {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pageDrawing {
    cursor: pointer;
    width: 100%;
    height: 100vh;
}

.pageOneDrawing {
    display: flex;
    flex-direction: row;
}

.One {
    background: #f8f9fa;
}

.Two {
    background-color: darkblue;
}

.scatterPlot {
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 1280px;
}

.splitView {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    flex-direction: row;
    text-align: center;
    color: white;
}

.splitView .left {
    background: rgba(0,51,153,0.8);
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.splitView .right {
    background: rgba(0,51,153,0.9);
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.lightContainer {
    background-color: #f8f9fa;
    margin: 30px;
    height: calc(100% - 100px);
    padding: 20px;
    color: #343a40;
}

.lightContainer p {
    text-align: left;
    margin: 20px;
}

.categoryList {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    
}

.categoryList li {
    font-size: 1em;
    margin: 3px;
    margin-top: 20px;
}

.Three {
    background-color: darkblue;
}

.Five {
    background-image: url("../img/europe_from_space.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0,51,153,0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.endContainer {
    background-color: #f8f9fa;
    height: 300px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 2em;
    text-align: center;
    color: #343a40;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 0px;
}

.introContainer {
    color: white;
    text-align: center;
}

.introContainer .mainTitle {
    font-size: 6em;
}

.introContainer .mainSubTitle {
    font-size: 3em;
}

.arrowBox{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.arrowDown {
    margin: 0 auto;
    display: inline-block;
    width: 150px;
    color: white;
    text-align: center;
}

.intro {
    background-image: url("../img/europe_from_space.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0,51,153,0.6);
}

.paragraph {
    color: #343a40;
    font-size: 1.1em;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 0px 20px;
    max-width: 1280px;
    margin: 0 auto 30px auto;
}

.chartTitle {
    text-align: center;
    font-size: 1.3em;
    font-weight: 800;
    color: #343a40;
}

.divergeChartLabel {
    font-size: .64em;
}

.tooltip {
    position: absolute;
    top:0;
    text-align: center;
    background: rgba(0,0,0,0.7);
    padding: 15px;
    border-radius: 2px;
    pointer-events: none;
    font-size: 1em;
    color: white;
}

#section05 a {
    padding-top: 70px;
}

#section05 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

/* @-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
} */

.axis path,
.axis line {
    fill: none;
    display: none;
}